*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{

    color: rgb(255, 255, 255);
    background-color: #000000;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    
}

header{
    font-family: Inter, sans-serif; 
}


main{
    flex-grow: 1;   
}

main, footer{
    font-family: Poppins, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 49px;
    margin: 30px 110px 0 110px; 
    position: relative;    
}

ul{
    display: flex;
    gap: 30px;
    list-style: none; 
    font-weight: 300; 
}

.navbar ul li a:hover{
  color: rgb(184, 184, 184)
}

a{
    color: white;
    text-decoration: none;
}



.logo h1{
    font-size: 30px;
    width: 180.3px;
}

.nav-links{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links, .registrar-login{
    font-size: 18px;
}

.navbar{
    font-family: Inter, sans-serif;
}



.borda-roxa{

    border: 1px solid;
    border-color: #9100CF;
    border-radius: 5px;
    padding: 3px 16px;
}

.textos-tela-inicial{

    margin: 172px 110px 0px 110px;
    max-width: 900px;
    
}


.texto-tela-inicial{

    font-size: 40px;
    font-weight: 600;
    
}

.texto-suporte-tela-inicial{
    font-size: 20px;
    margin-top: 14px;
    font-weight: lighter;
    

}

.botao-comece-agora{

    border: 2px solid;
    border-color: #9100CF;
    border-radius: 10px;
    color: #9100CF;
    
    padding: 8px 30px;
    margin: 50px 0px 0px 110px;
    font-size: 20px;
    
}

.botao-comece-agora:hover {
    background-color: #9100CF;
    cursor: pointer;
    border-color: rgb(255, 255, 255);
}

.imagens-tela-inicial{
    max-width: 1100px;
    margin: 111px 120px 120px 110px;
}

.imagens-tela-inicial ul{
    gap: 36px
}

footer{
    
    height: 53px;
    background-color: #050505;
    color: #A6A6A6;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}


footer ul{
    margin-left: 30px;
}


footer a{
    color: #A6A6A6;
}

.espacamento-padrao{
     margin: 130px 110px 0 110px;
}

.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato h1{
    font-size: 30px;
}

.form-contato{

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 40px 0px 110px 0px;
    gap: 13px;
}


#nome, #email, #mensagem{
    color: white;
    background-color: #101010;
    border: 1px solid #424242;
    border-radius: 10px;
    padding: 10px 20px;
}

#nome, #email{
    height: 35px;
}

#mensagem{
    height: 110px;
    margin-bottom: 10px;  
}

#botao-contato{
    background-color: #000000;
    border: 1px solid #424242;
    border-radius: 10px;
    color: white;
    font-weight: bold;

    height: 40px;
}

#botao-contato:hover{
    background-color: #9100CF;
    cursor: pointer;
    color: white;
    border-color: rgb(161, 161, 161);
}

.botao-login:hover{
    background-color: #9100CF;
    cursor: pointer;
    color: white;
    border-color: rgb(161, 161, 161);
    
}

.contato label{
    font-weight: bold;
    margin-top: 10px;
}

.gerar-imagens, .galeria-imagens{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gerar-imagens h1{
    font-size: 30px;
    margin-bottom: 40px;
}

.form-gerar-imagem{
    
    display: flex;
    width: 100%;
    height: 60px;
    gap: 15px;

    background-color: #101010;  
    border: 1px solid #424242;
    border-radius: 15px;
    margin-top: 30px;
    padding: 10px 20px;
    
}

.form-gerar-imagem input[type="text"]{
    flex-grow: 1;
    background-color: transparent;
    color: #e0e0e0;
    font-size: 15px;
    border: none;
    outline: none;
}

.form-gerar-imagem input[type="text"]:focus::placeholder{
    opacity: 0;
}

.form-gerar-imagem button{
    color: white;
    background-color: transparent;
    border: 1px solid #9100CF;
    border-radius: 10px;
    padding: 5px 20px;

    cursor: pointer;

}

.form-gerar-imagem button:hover{
    background-color: #9100CF;
    color: white;
    border-color: rgb(255, 255, 255);
}

.gerar-imagens img{
    width: 100%;
    height: 600px;
    opacity: 100%;
    border: 1px solid #424242;
    border-radius: 15px;
    margin: 20px 0 110px 0;
    
}


.sobre-projeto{
    display: flex;
    flex-direction: column;
    
}

.sobre-projeto-descricao{
    margin-bottom: 40px;
}

.sobre-projeto-descricao h1{
    font-size: 30px;
    margin-bottom: 40px;
}

.sobre-projeto-tecnologias h2{
    font-size: 30px;

    width: 40px;
    margin-right: 200px;
}

.sobre-projeto p{
    max-width: 80vw;
    font-weight: lighter;
    font-size: 16px;
    
    margin-bottom: 40px;
}

.sobre-projeto-tecnologias{
    display: flex;
    justify-content: flex-start;
    
}


.sobre-projeto ul li{
    width: 110px;
    height: 80px;

    border: 1px solid #424242;
    border-radius: 15px;
    background-color: #101010;
    padding: 40px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;      
}

.sobre-projeto ul li img{
    width: 35px;
    height: 35px;
    margin: 0px 5px 10px 0px;
    
}

.registrar-login{
    display: None;
}


.galeria-imagens h1{
    margin-bottom: 60px;
}

.galeria-lista{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    gap: 30px;
      
}

.galeria-lista .card {
    border: 1px solid #424242;
    border-radius: 15px;
    background-color: #101010;
    padding: 30px; 
    text-align: center;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.galeria-lista .card:hover {
    transform: translateY(-5px);
    border-color: #9100CF;
}

.galeria-lista .card img {
    width: 80%;      
    height: 200px;    
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
} 

.galeria-lista p{
    font-size: 16px;
    color: #b2b2b2;
    margin-bottom: 10px;
}



